{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
        <script javascript src=/static/js/carrello.js></script>
        <title>Categoria informatica</title>
    </head>
    <body>
    <!-- INIZIALIZZA JAVASCRIPT -->
    <script>inizializza()</script>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Sezione Risultati Ricerca -->
    <div class="container text-center bg-light" id="categorie">
        <h2 class="mb-5">Risultati ricerca categoria informatica:</h2>
    </div>

    {% for annuncio in lista_annunci %}
        <section id="annunci" class="risultati_ricerca">
            <div class="container-fluid p-15">
                <div class="row no-gutters">
                    <div class="card col-lg-3 order-lg-1 " style="width: 18rem;">
                        <img src="{{ annuncio.immagine_caricata }}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body col-lg-3 order-lg-2 ">
                        <h5 class="card-title">Titolo: {{ annuncio.titolo_annuncio }}</h5>
                        <p class="card-text">Codice: {{ annuncio.id_annuncio }}</p>
                        <p class="card-text">Categoria: {{ annuncio.categoria_annuncio }}</p>
                        <p class="card-text">
                            Autore: {{ annuncio.autore_caricato.id }} {{ annuncio.autore_caricato.username }}</p>
                        <p class="card-text">Città: {{ annuncio.citta_annuncio }}</p>
                        <p class="card-text">Descrizione:{{ annuncio.descrizione_annuncio }}</p>
                        <p class="card-text">DATA INIZIO PRESENZA SUL
                            CATOLOGO: {{ annuncio.data_inizio_noleggio }} </p>
                        <p class="card-text">DATA FINE PRESENZA SUL CATOLOGO: {{ annuncio.data_fine_noleggio }} </p>
                        <p class="card-text">Prezzo per giorno: {{ annuncio.prezzo_per_giorno_annuncio }}</p>

                        <!--
                        <form action="" method="post" role="form" enctype="multipart/form-data" class="email-form">
                            <div class="mb-5">
                                <label for="data_inizio_noleggio"></label>
                                <div class="table-bordered text-center text-white">

                                </div>
                                <div class="form-control">
                                <p>INSERISCI DATA INIZIO NOLEGGIO</p>
                                </div>
                            </div>

                            <div class="mb-5">
                                <label for="data_fine_noleggio"></label>
                                <div class="table-bordered text-center text-white">

                                </div>
                                <div class="form-control">
                                <p>INSERISCI DATA FINE NOLEGGIO</p>
                                </div>
                            </div>

                            <div class="text-center mt-2">
                                VERIFICA DISPONIBILITà
                            </div>
                        </form> -->

                        <!-- <br> cod. 1 <p> 25 Euro <br clear=all> -->

                        <!--Gestione LOGIN / LOGOUT AGGIUNGI AL CARRELLO-->
                        {% if  current_user.is_authenticated %}
                            <a href="javascript:aggiungi({{ annuncio.id_annuncio }},{{ annuncio.prezzo_per_giorno_annuncio }},'{{ annuncio.descrizione_annuncio }}')"
                               class="btn btn-primary">Aggiungi al carrello
                            </a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ url_for('utenti.login') }}">
                                Aggiungi al carrello

                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <div class="mb-5"></div>
    {% endfor %}
    <!--SPAZIO-->
    <div class="mb-5"></div>
    <!--Sezione torna alla ricerca -->
    <div class="container text-center">
        <a class="mb-5 menù" href="{{ url_for('main.HomePage') }}">
            <h5>Effettua altre ricerche</h5>
        </a>
    </div>
    <!--SPAZIO-->
    <div class="mb-5"></div>
    <!--sezione newsletter -->
    <section id="contattaci" class="newsletter text-white text-center">
        <div class="container">
            <style>
                .newsletter {
                    background-image: url("/static/images/newsletter.jpeg");
                }
            </style>
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Iscriviti alla nostra newsletter!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-primary btn.lg btn-block">Iscriviti</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><a href="#">Contact</a></li>
                        <li class="list-inline-item"><a href="#">Term of Use</a></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Copyright <strong><span>Università di Napoli Parthenope</span></strong>
                    </p>
                    <p class="text-muted small mb-4 mb-lg-0">Realizzato da:<strong><span>Pasquale Sorrentino, Sara Terlizzi, Eduardo Autore</span></strong>
                    </p>
                </div>

                <div class="col-lg-6 h-100 text-center text-lg-right">
                    <p class="testo">Seguici su:</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3"><a href="#"><img
                                src="/static/images/Home Page/logo-insta.jpg"
                                alt=""></a>
                        </li>
                        <li class="list-inline-item mr-3"><a href="#"><img
                                src="/static/images/Home Page/logo-linkedln.png"
                                alt=""></a>
                        </li>
                        <li class="list-inline-item"><a href="#"><img
                                src="/static/images/Home Page/logo-twitter.png"
                                alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
    </html>

{% endblock %}