{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script javascript src=../static/js/carrello.js></script>
    <title>Categoria console e videogiochi</title>
</head>
<body>
<!-- INIZIALIZZA JAVASCRIPT -->
<script>inizializza()</script>

<!-- Sezione Risultati Ricerca -->
<section id="annunci" class="risultati_ricerca">
    <div class="container-fluid p-15">
        <div class="row no-gutters">
            <div class="card col-lg-6 order-lg-1">
                <img src="../static/images/Categorie/Console e videogiochi/videogiochi1.jpg" class="card-img-top"
                     alt="...">
            </div>
            <div class="card-body col-lg-6 order-lg-2">
                <h5 class="card-title">Titolo: Contoller</h5>
                <p class="card-text">Codice: 11</p>
                <p class="card-text">Categoria: Console e videogame</p>
                <p class="card-text">Autore: Paolo Russo</p>
                <p class="card-text">Luogo: Lazio</p>
                <p class="card-text">Descrizione:</p>
                <p>Data inizio noleggio</p>
                <label>
                    <input type="date">
                </label>
                <p>Data fine noleggio</p>
                <label>
                    <input type="date">
                </label>
                <p class="card-text">Prezzo per giorno: 30 euro</p>
                <a href="javascript:aggiungi(1,30,'Chitarra')" class="btn btn-primary">Aggiungi al
                    carrello</a>
            </div>
        </div>
    </div>
</section>

<!-- Sezione recensioni clienti -->
<section id="diconodinoi" class="DiconoDiNoi text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Cosa dicono i nostri clienti</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="recensione-singola mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounder-circle mb-3 cliente1" src="../static/images/Home Page/cliente1.jpg" alt="">
                    <h5>Luca Rossi</h5>
                    <p class="font-weight-light mb-0">"Mi sono trovato benissimo. Eccellente per risparmiare e
                        guadagnare!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="recensione-singola mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounder-circle mb-3 cliente2" src="../static/images/Home Page/cliente2.jpg" alt="">
                    <h5>Paolo Bianchi</h5>
                    <p class="font-weight-light mb-0">"Ottima assistenza!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="recensione-singola mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounder-circle mb-3 cliente3" src="../static/images/Home Page/cliente3.jpg" alt="">
                    <h5>Matteo Verdi</h5>
                    <p class="font-weight-light mb-0">"È la piattaforma che ho sempre desiderato"</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Sezione Newsletter -->
<section id="contattaci" class="newsletter text-white text-center">
    <div class="container">
        <style>
            .newsletter {
                background-image: url("../static/images/newsletter.jpeg");
            }
        </style>
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Iscriviti alla nostra newsletter!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-primary btn.lg btn-block">Iscriviti</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#">About</a></li>
                    <li class="list-inline-item"><a href="#">Contact</a></li>
                    <li class="list-inline-item"><a href="#">Term of Use</a></li>
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Copyright <strong><span>Università di Napoli Parthenope</span></strong></p>
                <p class="text-muted small mb-4 mb-lg-0">Realizzato da:<strong><span>Pasquale Sorrentino, Sara Terlizzi, Eduardo Autore</span></strong></p>
            </div>

            <div class="col-lg-6 h-100 text-center text-lg-right">
                <p class="testo">Seguici su:</p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3"><a href="#"><img src="../static/images/Home Page/logo-insta.jpg"
                                                                       alt=""></a>
                    </li>
                    <li class="list-inline-item mr-3"><a href="#"><img src="../static/images/Home Page/logo-linkedln.png"
                                                                       alt=""></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><img src="../static/images/Home Page/logo-twitter.png"
                                                                       alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}