<HTML>
<HEAD>
   <LINK REL="stylesheet" TYPE="text/css" href="carrello.css"> 
           
   <script language=javascript src=carrello.js></script>
</HEAD>

<BODY>
   <h2>Il tuo Carrello della spesa</h2>

    <script language=javascript>
            
        carrello = eval(localStorage.carrello);
       
        document.write("<div id=elenco>");
        tabella(); 
        document.write("</div>");
        totali();
        
     </script>
     
    </div>

   <hr>
   <a href=index.html>Torna allo shopping</a> <a href=javascript:svuota()>Svuota il carrello</a>
</BODY>
</HTML>





       <form action="" method="post" role="form" enctype="multipart/form-data" class="email-form">
                                <div class="row">
                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <label for="titolo"></label>
                                        <div class="table-bordered text-center text-white">
                                            {{ form.hidden_tag() }} {{ form.titolo_annuncio.label }}
                                        </div>
                                        <div class="card-body">
                                            <b>{{ annuncio.titolo_annuncio }}</b>
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <label for="immagine"></label>
                                        <div class="table-bordered text-center text-white">
                                            {{ form.immagine_annucio.label }}
                                        </div>
                                        <div class="card-body" style="width: 18rem;">
                                            <img src="{{ annuncio.immagine_caricata }}"
                                                 class="card-img-top" alt="...">
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center mt-2">
                                    {{ form.submit_ordine (class="btn btn-success") }}
                                </div>
                            </form>