{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/Utente.css">
        <title>Informazioni utente</title>
    </head>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <body>
    <!-- Informazioni Account -->
    <section id="annunci" class="annunci text-center">
        <div class="container">
            <h3>INFORMAZIONI ACCOUNT:</h3>
        </div>
    </section>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Informazioni account
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse1 show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Id utente: <b>{{ user.id }}</b></li>
                        <li>Nome utente: <b>{{ user.nome_utente }}</b></li>
                        <li>Cognome utente: <b>{{ user.cognome_utente }}</b></li>
                        <li>Email: <b>{{ user.email }}</b></li>
                        <li>Username: <b>{{ user.username }}</b></li>
                        <li>Sesso: <b>{{ user.sesso_utente }}</b></li>
                        <li>Telefono: <b>{{ user.telefono_utente }}</b></li>
                        <li>Data di nascita: <b>{{ user.data_di_nascita_utente }}</b></li>
                        <li>Indirizzo:<b> {{ user.via_utente }}, {{ user.citta_utente }}
                            ({{ user.provincia_utente }}) {{ user.cap_utente }}</b>
                        </li>
                        <li>Ultimo accesso: <b>{{ user.ultimo_accesso }}</b></li>
                        <li>Ruolo: <b>{{ ruolo.name_role }}</b></li>
                        <li>Data di registrazione: <b>{{ user.data_creazione_utente }}</b></li>
                    </ul>
                    <!-- Sezione css -->
                    <style>
                        button {
                            background-color: #28a745;
                            color: #ffffff;
                            border: none;
                            padding: 10px 20px;
                            font-size: 17px;
                            font-family: Raleway;
                            cursor: pointer;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>

    <!-- Informazioni Annunci pubblicati -->
    <section id="annunci" class="annunci text-center">
        <div class="container">
            <h3>I MIEI ANNUNCI PUBBLICATI:</h3>
        </div>
    </section>

    {% for annuncio in lista_annunci %}

        <div class="accordion" id="{{ annuncio.id_annuncio }}">
            <div class="card">
                <div class="card-header" id="{{ annuncio.id_annuncio }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse"
                                data-target={{ annuncio.id_annuncio }} aria-expanded="true"
                                aria-controls="{{ annuncio.id_annuncio }}">
                            DATA DI INSERIMENTO ANNUNCIO: {{ annuncio.data_inserimento_annuncio }}
                        </button>
                    </h2>
                </div>

                <div id="{{ annuncio.id_annuncio }}" class="collapse1 show" aria-labelledby="{{ annuncio.id_annuncio }}"
                     data-parent="{{ annuncio.id_annuncio }}">
                    <div class="row no-gutters">
                        <div class="col-lg-6 order-lg-2">
                            <!--Gestione MODIFICA/ELIMINA ANNUNCIO-->
                            <section>
                                <div class="vuoto">
                                    </a>
                                </div>
                                <br>
                            </section>

                            <section>
                                <div class="modifica">
                                    <a class="btn btn-warning" href="#">
                                        Modifica annuncio
                                    </a>
                                </div>
                                <br>
                            </section>

                            <a class="btn btn-danger" href="#">
                                Rimuovi annuncio
                            </a>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="card-body">
                                <ul>
                                    <li>ID annuncio: <b>{{ annuncio.id_annuncio }}</b></li>
                                    <li>Titolo annuncio: <b>{{ annuncio.titolo_annuncio }}</b></li>
                                    <li>Categoria annuncio: <b>{{ annuncio.categoria_annuncio }}</b></li>
                                    <li>Descrizione annuncio: <b>{{ annuncio.descrizione_annuncio }}</b></li>
                                    <li>Data inzio noleggio: <b>{{ annuncio.data_inizio_noleggio }}</b>
                                    </li>
                                    <li>Data fine noleggio: <b>{{ annuncio.data_fine_noleggio }}</b>
                                    </li>
                                    <li>Immagine annuncio:
                                        <br>
                                        <b><img src="{{ annuncio.immagine_caricata }}"
                                                class="card-img-top" style="width: 18rem;" alt="..."></b></li>
                                    <li>Prezzo per giorno annuncio:<b>{{ annuncio.prezzo_per_giorno_annuncio }}€</b>
                                    </li>
                                    <li>Luogo annuncio:<b> {{ annuncio.via_annuncio }}, {{ annuncio.citta_annuncio }}
                                        ({{ annuncio.provincia_annuncio }}) {{ annuncio.cap_annuncio }}</b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}

    <!-- Informazioni Noleggi effettuati -->
    <section id="annunci" class="annunci text-center">
        <div class="container">
            <h3>I MIEI ORDINI:</h3>
        </div>
    </section>

    {% for annuncio in lista_annunci %}

        <div class="accordion" id="{{ annuncio.id_annuncio }}">
            <div class="card">
                <div class="card-header" id="{{ annuncio.id_annuncio }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse"
                                data-target={{ annuncio.id_annuncio }} aria-expanded="true"
                                aria-controls="{{ annuncio.id_annuncio }}">
                            {{ annuncio.titolo_annuncio }}
                        </button>
                    </h2>
                </div>

                <div id="{{ annuncio.id_annuncio }}" class="collapse1 show" aria-labelledby="{{ annuncio.id_annuncio }}"
                     data-parent="{{ annuncio.id_annuncio }}">
                    <div class="row no-gutters">
                        <div class="col-lg-6 order-lg-2">
                            <!--Gestione MODIFICA/ELIMINA ANNUNCIO-->
                            <section>
                                <div class="vuoto">
                                    </a>
                                </div>
                                <br>
                            </section>

                            <section>
                                <div class="modifica">
                                    <a class="btn btn-warning" href="#">
                                        Modifica ordine
                                    </a>
                                </div>
                                <br>
                            </section>

                            <a class="btn btn-danger" href="#">
                                Rimuovi ordine
                            </a>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="card-body">
                                <ul>
                                    <li>ID annuncio: <b>{{ annuncio.id_annuncio }}</b></li>
                                     <li>Nome autore: <b>{{ user.nome_utente }}</b></li>
                                    <li>Titolo annuncio: <b>{{ annuncio.titolo_annuncio }}</b></li>
                                    <li>Categoria annuncio: <b>{{ annuncio.categoria_annuncio }}</b></li>
                                    <li>Descrizione annuncio: <b>{{ annuncio.descrizione_annuncio }}</b></li>
                                    <li>Data inzio noleggio: <b>{{ annuncio.data_inizio_noleggio }}</b>
                                    </li>
                                    <li>Data fine noleggio: <b>{{ annuncio.data_fine_noleggio }}</b>
                                    </li>
                                    <li>Immagine annuncio:
                                        <br>
                                        <b><img src="{{ annuncio.immagine_caricata }}"
                                                class="card-img-top" style="width: 18rem;" alt="..."></b></li>

                                    <li>Prezzo per giorno annuncio:<b>{{ annuncio.prezzo_per_giorno_annuncio }}€</b>
                                    </li>
                                    <li>Luogo annuncio:<b> {{ annuncio.via_annuncio }}, {{ annuncio.citta_annuncio }}
                                        ({{ annuncio.provincia_annuncio }}) {{ annuncio.cap_annuncio }}</b>
                                    </li>
                                    <li>Spesa totale:<b> </b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- Informazioni guadagni noleggi -->
    <section id="annunci" class="annunci text-center">
        <div class="container">
            <h3>I MIEI GUADAGNI DEGLI ANNUNCI PUBBLICATI:</h3>
        </div>
    </section>

    {% for annuncio in lista_annunci %}

        <div class="accordion" id="{{ annuncio.id_annuncio }}">
            <div class="card">
                <div class="card-header" id="{{ annuncio.id_annuncio }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse"
                                data-target={{ annuncio.id_annuncio }} aria-expanded="true"
                                aria-controls="{{ annuncio.id_annuncio }}">
                            {{ annuncio.titolo_annuncio }}
                        </button>
                    </h2>
                </div>

                <div id="{{ annuncio.id_annuncio }}" class="collapse1 show" aria-labelledby="{{ annuncio.id_annuncio }}"
                     data-parent="{{ annuncio.id_annuncio }}">

                    <div class="card-body">
                        <ul>
                            <li>ID annuncio: <b>{{ annuncio.id_annuncio }}</b></li>
                            <li>Titolo annuncio: <b>{{ annuncio.titolo_annuncio }}</b></li>
                            <li>Categoria annuncio: <b>{{ annuncio.categoria_annuncio }}</b></li>
                            <li>Descrizione annuncio: <b>{{ annuncio.descrizione_annuncio }}</b></li>
                            <li>Data inzio noleggio: <b>{{ annuncio.data_inizio_noleggio }}</b>
                            </li>
                            <li>Data fine noleggio: <b>{{ annuncio.data_fine_noleggio }}</b>
                            </li>
                            <li>Immagine annuncio:
                                <br>
                                <b><img src="{{ annuncio.immagine_caricata }}"
                                        class="card-img-top" style="width: 18rem;" alt="..."></b></li>
                            <li>Prezzo per giorno annuncio:<b>{{ annuncio.prezzo_per_giorno_annuncio }}€</b>
                            </li>
                            <li>Luogo annuncio:<b> {{ annuncio.via_annuncio }}, {{ annuncio.citta_annuncio }}
                                ({{ annuncio.provincia_annuncio }}) {{ annuncio.cap_annuncio }}</b>
                            </li>
                            <li>Guadagno totale:<b> </b>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}
    <!-- Sezione menù -->
    <section id="Menù" class="Menù text-center">
        <div class="container">
            <a class="mb-5" href="{{ url_for('main.HomePage') }}"><br>
                <button>Torna allo shopping</button>
            </a>
        </div>
    </section>
    <br>

    <!--SEZIONE NEWSLETTER-->
    <section id="contattaci" class="newsletter text-white text-center">
        <div class="container">
            <style>
                .newsletter {
                    background-image: url("../static/images/newsletter.jpeg");
                }
            </style>
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Iscriviti alla nostra newsletter!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-primary btn.lg btn-block">Iscriviti</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><a href="#">Contact</a></li>
                        <li class="list-inline-item"><a href="#">Term of Use</a></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Copyright <strong><span>Università di Napoli Parthenope</span></strong>
                    </p>
                    <p class="text-muted small mb-4 mb-lg-0">Realizzato da:<strong><span>Pasquale Sorrentino, Sara Terlizzi, Eduardo Autore</span></strong>
                    </p>
                </div>

                <div class="col-lg-6 h-100 text-center text-lg-right">
                    <p class="testo">Seguici su:</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3"><a href="#"><img
                                src="../static/images/Home Page/logo-insta.jpg"
                                alt=""></a>
                        </li>
                        <li class="list-inline-item mr-3"><a href="#"><img
                                src="../static/images/Home Page/logo-linkedln.png"
                                alt=""></a>
                        </li>
                        <li class="list-inline-item"><a href="#"><img
                                src="../static/images/Home Page/logo-twitter.png"
                                alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
    </html>
{% endblock %}