
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/Login.css">
        <title>Registrazione utente</title>
    </head>
    <br>
    <br>
    <br>
    <br>
    <br>
    <body>
    <!-- CSS FORM -->
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-color: #ff7f50;
        }

        .inner-page {
            background: rgba(0, 0, 0, .5);
            margin: 100px auto;
            font-family: Raleway;
            padding: 40px;
            width: 90%;
            min-width: 300px;
            text-align: center;
            border-radius: 10px;
        }

        input {
            text-align: center;
        }

        select {
            text-align: center;
        }

        .login-box form a {
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            color: #F1EEE6;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
            overflow: hidden;
            transition: .5s;
            margin-top: 40px;
            letter-spacing: 4px;
        }

        button {
            background-color: #ff5a26;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            font-size: 17px;
            font-family: Raleway;
            cursor: pointer;
        }

        h6 {
            color: #dddddd;
        }

        h3 {
            color: #dddddd;
        }

        button:hover {
            opacity: 0.8;
        }

    </style>

    <!--HTML FORM-->
    <section class="inner-page">
        <div class="container">


            <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact">
                <div class="container">

                    <div class="section-title" data-aos="fade-up">
                        <h3>Registrazione utente</h3>
                        <h6>INFOMRAZIONI:</h6>
                        <br>
                    </div>
                    <div class="row">

                        <div class="mb-5">

                            <form action="" method="post" role="form" enctype="multipart/form-data" class="email-form">
                                <div class="row">
                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <label for="email"></label>
                                        <div class="table-bordered text-center text-white">
                                            {{ form.hidden_tag() }} {{ form.email.label }}
                                        </div>
                                        <div class="form-control">
                                            {{ form.email }}
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <label for="usurname"></label>
                                        <div class="table-bordered text-center text-white">
                                            {{ form.username.label }}
                                        </div>
                                        <div class="form-control">
                                            {{ form.username }}
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <label for="password"></label>
                                        <div class="table-bordered text-center text-white">
                                            {{ form.password.label }}
                                        </div>
                                        <div class="form-control">
                                            {{ form.password }}
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <label for="conferma password"></label>
                                        <div class="table-bordered text-center text-white">
                                            {{ form.password2.label }}
                                        </div>
                                        <div class="form-control">
                                            {{ form.password2 }}
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <label for="nome"></label>
                                        <div class="table-bordered text-center text-white">
                                            {{ form.nome_utente.label }}
                                        </div>
                                        <div class="form-control">
                                            {{ form.nome_utente }}
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <label for="cognome"></label>
                                        <div class="table-bordered text-center text-white">
                                            {{ form.cognome_utente.label }}
                                        </div>
                                        <div class="form-control">
                                            {{ form.cognome_utente }}
                                        </div>
                                    </div>

                                    <div class="col-md-12 form-group mt-3 mt-md-0">
                                        <label for="sesso"></label>
                                        <div class="table-bordered text-center text-white">
                                            {{ form.sesso.label }}
                                        </div>
                                        <div class="form-control">
                                            {{ form.sesso }}
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <label for="città"></label>
                                        <div class="table-bordered text-center text-white">
                                            {{ form.citta.label }}
                                        </div>
                                        <div class="form-control">
                                            {{ form.citta }}
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <label for="provincia"></label>
                                        <div class="table-bordered text-center text-white">
                                            {{ form.provincia.label }}
                                        </div>
                                        <div class="form-control">
                                            {{ form.provincia }}
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <label for="via"></label>
                                        <div class="table-bordered text-center text-white">
                                            {{ form.via.label }}
                                        </div>
                                        <div class="form-control">
                                            {{ form.via }}
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <label for="cap"></label>
                                        <div class="table-bordered text-center text-white">
                                            {{ form.cap.label }}
                                        </div>
                                        <div class="form-control">
                                            {{ form.cap }}
                                        </div>
                                    </div>

                                </div>

                                <div class="text-center mt-3">
                                    {{ form.submit(class="btn btn-success") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section><!-- End Contact Section -->
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
    </html>
{% endblock %}
