{% extends "base.html" %} {% block content %}
    <head>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
        <script javascript src=../static/js/carrello.js></script>

        <title>Use and return</title>
    </head>
    <!-- Messaggi flash -->
    <div class="container">
        {# Flashed messages #}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {# End Flashed messages #}
    </div>
    <!-- Sezione Banner -->
    <div class="head-banner text-white text-center">

        <style>
            .head-banner {
                background-image: url("../static/images/baratto.jpeg");
                margin-top: 113px;
            }
        </style>
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1>Il servizio di noleggio più efficiente che ci sia</h1>
                <div id="suggerimenti"></div>
            </div>
        </div>
    </div>
    </header>
    <!-- Sezione Barra Ricerca -->


    <form action="" method="post" role="form" enctype="multipart/form-data"  class="email-form">
    <section class="BarraRicerca">
        <div class="searchBox">
            <div class="inputBx text-center text-white table-responsive-lg">
                <p>{{ form.hidden_tag() }} {{ form.oggetto_ricerca.label }}</p>
                <label>
                    {{ form.oggetto_ricerca }}
                </label>
            </div>
            <div class="inputBx text-center text-white">
                <p>   {{ form.categoria_ricerca.label }}</p>
                <label>
                    {{ form.categoria_ricerca }}
                </label>
            </div>
            <div class="inputBx text-center text-white">
                <p>{{ form.provincia_annuncio.label }}</p>
                <label>
                    {{ form.provincia_annuncio }}
                </label>
            </div>

            <div class="inputBx text-center text-white">
                <p> {{ form.data_inizio_noleggio_ricerca.label }}</p>
                <label>
                    {{ form.data_inizio_noleggio_ricerca }}
                </label>
            </div>
            <div class="inputBx text-center text-white">
                <p>  {{ form.data_fine_noleggio_ricerca.label }}</p>
                <label>
                    {{ form.data_fine_noleggio_ricerca }}
                </label>
            </div>

            <div class="container">
                <div class="mb-5">
                    <div class="inputBx">
                        <p class="white">-</p>
                        <a href="#annunci">
                            <div class="text-center mt-2 registrazione">
                                <button>
                                    {{ form.submit }}
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    </form>
    <!-- sezione spazio
    <div class="mb-5"></div>-->
    <!-- sezione annunci suggeriti -->
    <section id="suggerimenti" class="categorie text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Annunci suggeriti</h2>
            <div class="row">
                <div class="wrapper">
                    <div class="col-lg-4">
                        <div class="suggerimento-singolo mx-auto mb-5 mb-lg-0">
                            <a href="categoria_musica.html">
                                <img class="img-fluid rounder-circle mb-3 categoria1"
                                     src="../static/images/Categorie/Musica/musica3.jpg" alt="">
                                <h5>Giradischi</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="categoria-singola mx-auto mb-5 mb-lg-0">
                            <a href="categoria_telefonia.html">
                                <img class="img-fluid rounder-circle mb-3 categoria2"
                                     src="../static/images/Categorie/Telefonia/telefonia1.jpg" alt="">
                                <h5>iPhone</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="recensione-singola mx-auto mb-5 mb-lg-0">
                            <!--<a href="categoria_console&videogiochi.html">-->
                            <img class="img-fluid rounder-circle mb-3 categoria3"
                                 src="../static/images/Categorie/Console e videogiochi/videogiochi3.jpg" alt="">
                            <h5>Visore</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="recensione-singola mx-auto mb-5 mb-lg-0">
                            <!--<a href="categoria_informatica.html"> -->
                            <img class="img-fluid rounder-circle mb-3 categoria4"
                                 src="../static/images/Categorie/Informatica/informatica2.jpg" alt="">
                            <h5>Stampante</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="recensione-singola mx-auto mb-5 mb-lg-0">
                            <!--<a href="categoria_auto.html"> -->
                            <img class="img-fluid rounder-circle mb-3 categoria5"
                                 src="../static/images/Categorie/Musica/musica2.jpg" alt="">
                            <h5>Microfono</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="recensione-singola mx-auto mb-5 mb-lg-0">
                            <!-- <a href="categoria_gioccatoli.html"> -->
                            <img class="img-fluid rounder-circle mb-3 categoria6"
                                 src="../static/images/Categorie/Giocattoli/giocattoli2.jpg" alt="">
                            <h5>Macchinine</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="recensione-singola mx-auto mb-5 mb-lg-0">
                            <!-- <a href="categoria_fotografia.html"> -->
                            <img class="img-fluid rounder-circle mb-3 categoria7"
                                 src="../static/images/Categorie/Fotografia/Fotografia2.jpg" alt="">
                            <h5>Macchina fotografica</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="recensione-singola mx-auto mb-5 mb-lg-0">
                            <!-- <a href="categoria_videomaker.html"> -->
                            <img class="img-fluid rounder-circle mb-3 categoria8"
                                 src="../static/images/Categorie/Informatica/informatica3.jpg" alt="">
                            <h5>Roter</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="recensione-singola mx-auto mb-5 mb-lg-0">
                            <!-- <a href="categoria_altro.html"> -->
                            <img class="img-fluid rounder-circle mb-3 categoria9"
                                 src="../static/images/Categorie/Altro/altro1.jpg" alt="">
                            <h5>Libri</h5>
                            <div id="annunci"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sezione Risultati Ricerca -->
    <section id="categorie" class="categorie text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Risultati ricerca categoria altro:</h2>
        </div>

        {% for annuncio in lista_annunci %}
            <section id="annunci" class="risultati_ricerca">
                <div class="container-fluid p-15">
                    <div class="row no-gutters border border-dark">
                        <div class="card col-lg-6 order-lg-1 " style="width: 18rem;">
                            <img src="{{ annuncio.immagine_caricata }}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body col-lg-6 order-lg-2 ">
                            <h5 class="card-title">Titolo: {{ annuncio.titolo_annuncio }}</h5>
                            <p class="card-text">Codice: {{ annuncio.id_annuncio }}</p>
                            <p class="card-text">Categoria: {{ annuncio.categoria_annuncio }}</p>
                            <p class="card-text">Autore: {{ annuncio.autore_caricato.id }} {{ annuncio.autore_caricato.username }}</p>
                            <p class="card-text">Citta': {{ annuncio.citta_annuncio }}</p>
                            <p class="card-text">Descrizione:{{ annuncio.descrizione_annuncio }}</p>
                            <p class="card-text">Data inizio noleggio: {{ annuncio.data_inizio_noleggio }} </p>
                            <p class="card-text">Data fine noleggio: {{ annuncio.data_fine_noleggio }} </p>
                            <p class="card-text">Prezzo per giorno: {{ annuncio.prezzo_per_giorno_annuncio }}</p>

                            <!-- <br> cod. 1 <p> 25 Euro <br clear=all>
                             Mini pallone da football<p> -->
                            <a href="javascript:aggiungi(9,25,'Libro')" class="btn btn-primary">Aggiungi al carrello</a>

                            <!-- <a href="#" class="btn btn-primary">Vai al carrelo</a> -->
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    </section>

    <!--Sezione info sito -->
    <section class="sezione icone bg-light text-center">
        <div class="container">
            <h2 class="mb-5"></h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-5">
                        <h3>Economico</h3>
                        <p class="lead mb-0">I nostri costi di commissione sono i più bassi sul mercato</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-5">
                        <h3>Facile da usare</h3>
                        <p class="lead mb-0">Grazie alla grafica intuitiva la piattaforma è utilizzabile da
                            chiunque </p>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-5">
                        <div id="lanostraidea"></div>
                        <h3>Online 24/7</h3>
                        <p class="lead mb-0">In nostro servizio è attivo in qualsiasi momemento della giornata</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="mb-5"></div>
    <!--Sezione chi siamo -->
    <section id="lanostraidea" class="la-nostra-idea">
        <div class="container-fluid p-15">
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 immagine"><img src="../static/images/Home Page/idea.jpg" alt=""></div>
                <div class="col-lg-6 order-lg-1 testo">
                    <h1>Come nasce la nostra idea?</h1>
                    <h5>NO agli sprechi, SI all'ambiente!</h5>
                    <p>Almeno una volta nella vita ti sarà capitato di dover acquistare oggetti che effettivamente
                        hai usato
                        pochissime volte ad un prezzo eccessivo rispetto all’utilizzo reale.
                        Come se non bastasse, dal punto di vista ecologico l’ambiente ne risente ogni volta che
                        produciamo
                        materiali perché causa l’incremento di rifiuti e tonnellate emissioni di CO2 nell’atmosfera.
                        Da questo scenario nasce l’idea: mettere tali oggetti a disposizione della collettività che
                        ne può
                        usufruire liberamente.
                        Noleggiando, che si tratti di un giorno o un mese, i benefici saranno maggiori rispetto agli
                        sprechi
                        quotidiani.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 immagine"><img src="../static/images/Home Page/efficienza.jpg" alt=""></div>
                <div class="col-lg-6 testo">
                    <h1>Il servizio di nolleggio più efficiente che ci sia</h1>
                    <p>Registrati con un unico abbonamento alla nostra piattaforma e inizia a inserire nel catalogo
                        annunci
                        pubblicitari dei tuoi oggetti inserendo il nome, la descrizione, il luogo, la disponibilità
                        , il
                        prezzo
                        per giorno e la categoria.</p>
                    <h1>Chi può usufruire della piattaforma?</h1>
                    <h5>Tutte le tipologie di utenti</h5>
                    <p>Che tu sia un privato o un'azienda, puoi unirti alla community sia come autore dell'annuncio,
                        che
                        come acquirente del servizio.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 immagine"><img src="../static/images/Home Page/community.png" alt="">
                </div>
                <div class="col-lg-6 order-lg-1 testo">
                    <h1>Perchè unirti alla nostra community?</h1>
                    <h5>Vantaggi:</h5>
                    <p>Risparmio economico per chi noleggia.</p>
                    <p>Monetizzazione attraverso il prestito di oggetti rimasti inutilizzati.</p>
                    <p>Riduzione di tonnellate di emissioni CO2 e rifiuti.</p>
                    <p>Ritiro e spedizione gestita dal sito tramite corriere.</p>
                    <p>Sicurezza app con accesso alla localizzazione per rintracciare l’utente in caso in cui il
                        prodotto
                        non
                        venga restituito.</p>
                    <p>Un solo abbonamento, tante categorie di prodotti.</p>
                    <p>Bonus ottenibili tramite pubblicità della piattaforma sulla commissione di registrazione ai
                        nuovi
                        abbonati.</p>
                    <p>Periodo di prova del servizio di 30 giorni gratis.</p>
                    <p>Controllo della qualità e dello stato effettivo degli articoli noleggiati, sia prima del
                        noleggio che
                        al
                        termine.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

{% endblock %}

