{% extends "base.html" %} {% block content %}

    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">

        <title>Use and return</title>
    </head>
    <body>
    <!-- Messaggi flash -->
    <div class="container flash">
        <h2 class="mb-5">
            {# Flashed messages #}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} text-center" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {# End Flashed messages #}
        </h2>
    </div>
    <style>
        .flash {
            height: 370px;
            margin-top: 185px;
        }
    </style>
    <!-- Sezione Banner -->
    <div class="head-banner text-white text-center">

        <style>
            .head-banner {
                background-image: url("../static/images/baratto.jpeg");
                height: 370px;
                margin-top: -370px;
            }
        </style>
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1>Il servizio di noleggio più efficiente che ci sia</h1>
            </div>
        </div>
    </div>
    <!-- Sezione Barra Ricerca -->
    <section class="BarraRicerca">
        <form action="" method="post" role="form" enctype="multipart/form-data" class="email-form">
            <div class="searchBox">
                <div class="inputBx text-center text-white table-responsive-lg">
                    <p>{{ form.hidden_tag() }} {{ form.oggetto_ricerca.label }}</p>
                    <label>
                        {{ form.oggetto_ricerca }}
                    </label>
                </div>
                <div class="inputBx text-center text-white">
                    <p>   {{ form.categoria_ricerca.label }}</p>
                    <label>
                        {{ form.categoria_ricerca }}
                    </label>
                </div>
                <div class="inputBx text-center text-white">
                    <p>{{ form.provincia_annuncio.label }}</p>
                    <label>
                        {{ form.provincia_annuncio }}
                    </label>
                </div>

                <div class="inputBx text-center text-white">
                    <p> {{ form.data_inizio_noleggio_ricerca.label }}</p>
                    <label>
                        {{ form.data_inizio_noleggio_ricerca }}
                    </label>
                </div>
                <div class="inputBx text-center text-white">
                    <p>  {{ form.data_fine_noleggio_ricerca.label }}</p>
                    <label>
                        {{ form.data_fine_noleggio_ricerca }}
                    </label>
                </div>

                <div class="container">
                    <div class="mb-5">
                        <div class="inputBx">
                            <p class="white">-</p>
                            <div class="text-center mt-2 registrazione">
                                {{ form.submit (class="btn btn-success") }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- sezione spazio
    <div class="mb-5"></div>-->

    <!--Sezione info sito -->
    <section class="sezione icone bg-light text-center">
        <div class="container">
            <h2 class="mb-5"></h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-5">
                        <h3>Economico</h3>
                        <p class="lead mb-0">I nostri costi di commissione sono i più bassi sul mercato</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-5">
                        <h3>Facile da usare</h3>
                        <p class="lead mb-0">Grazie alla grafica intuitiva la piattaforma è utilizzabile da
                            chiunque </p>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-5">
                        <div id="lanostraidea"></div>
                        <h3>Online 24/7</h3>
                        <p class="lead mb-0">In nostro servizio è attivo in qualsiasi momemento della giornata</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="mb-5"></div>
    <!--Sezione chi siamo -->
    <section id="lanostraidea" class="la-nostra-idea">
        <div class="container-fluid p-15">
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 immagine"><img src="../static/images/Home Page/idea.jpg" alt=""></div>
                <div class="col-lg-6 order-lg-1 testo">
                    <h1>Come nasce la nostra idea?</h1>
                    <h5>NO agli sprechi, SI all'ambiente!</h5>
                    <p>Almeno una volta nella vita ti sarà capitato di dover acquistare oggetti che effettivamente
                        hai usato
                        pochissime volte ad un prezzo eccessivo rispetto all’utilizzo reale.
                        Come se non bastasse, dal punto di vista ecologico l’ambiente ne risente ogni volta che
                        produciamo
                        materiali perché causa l’incremento di rifiuti e tonnellate emissioni di CO2 nell’atmosfera.
                        Da questo scenario nasce l’idea: mettere tali oggetti a disposizione della collettività che
                        ne può
                        usufruire liberamente.
                        Noleggiando, che si tratti di un giorno o un mese, i benefici saranno maggiori rispetto agli
                        sprechi
                        quotidiani.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 immagine"><img src="../static/images/Home Page/efficienza.jpg" alt=""></div>
                <div class="col-lg-6 testo">
                    <h1>Il servizio di nolleggio più efficiente che ci sia</h1>
                    <p>Registrati con un unico abbonamento alla nostra piattaforma e inizia a inserire nel catalogo
                        annunci
                        pubblicitari dei tuoi oggetti inserendo il nome, la descrizione, il luogo, la disponibilità
                        , il
                        prezzo
                        per giorno e la categoria.</p>
                    <h1>Chi può usufruire della piattaforma?</h1>
                    <h5>Tutte le tipologie di utenti</h5>
                    <p>Che tu sia un privato o un'azienda, puoi unirti alla community sia come autore dell'annuncio,
                        che
                        come acquirente del servizio.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 immagine"><img src="../static/images/Home Page/community.png" alt="">
                </div>
                <div class="col-lg-6 order-lg-1 testo">
                    <h1>Perchè unirti alla nostra community?</h1>
                    <h5>Vantaggi:</h5>
                    <p>Risparmio economico per chi noleggia.</p>
                    <p>Monetizzazione attraverso il prestito di oggetti rimasti inutilizzati.</p>
                    <p>Riduzione di tonnellate di emissioni CO2 e rifiuti.</p>
                    <p>Ritiro e spedizione gestita dal sito tramite corriere.</p>
                    <p>Una solo abbonamento, tante categorie di prodotti.</p>
                    <div id="diconodinoi"></div>
                    <p>Periodo di prova del servizio di 30 giorni gratis.</p>
                </div>
            </div>
        </div>
    </section>
    <!--SPAZIO-->
    <div class="mb-5"></div>

    <!-- Sezione recensioni clienti -->
    <div class="container text-center bg-light" id="diconodinoi">
        <h2 class="mb-5">Cosa dicono i nostri clienti</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="recensione-singola mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounder-circle mb-3 cliente1"
                         src="/static/images/Home Page/cliente1.jpg" alt="">
                    <h5>Luca Rossi</h5>
                    <p class="font-weight-light mb-0">"Mi sono trovato benissimo. Eccellente per risparmiare e
                        guadagnare!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="recensione-singola mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounder-circle mb-3 cliente2"
                         src="/static/images/Home Page/cliente2.jpg" alt="">
                    <h5>Paolo Bianchi</h5>
                    <p class="font-weight-light mb-0">"Ottima assistenza!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="recensione-singola mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounder-circle mb-3 cliente3"
                         src="/static/images/Home Page/cliente3.jpg" alt="">
                    <h5>Matteo Verdi</h5>
                    <p class="font-weight-light mb-0">"È la piattaforma che ho sempre desiderato"</p>
                </div>
            </div>
        </div>
    </div>
    <!--SPAZIO-->
    <div class="mb-5"></div>
    <!--sezione newsletter -->
    <section id="contattaci" class="newsletter text-white text-center">
        <div class="container">
            <style>
                .newsletter {
                    background-image: url("../static/images/newsletter.jpeg");
                }
            </style>
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Iscriviti alla nostra newsletter!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Inserisci email">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-primary btn.lg btn-block">Iscriviti</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><a href="#">Contact</a></li>
                        <li class="list-inline-item"><a href="#">Term of Use</a></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Copyright <strong><span>Università di Napoli Parthenope</span></strong>
                    </p>
                    <p class="text-muted small mb-4 mb-lg-0">Realizzato da:<strong><span>Pasquale Sorrentino, Sara Terlizzi, Eduardo Autore</span></strong>
                    </p>
                </div>

                <div class="col-lg-6 h-100 text-center text-lg-right">
                    <p class="testo">Seguici su:</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3"><a href="#"><img
                                src="/static/images/Home Page/logo-insta.jpg"
                                alt=""></a>
                        </li>
                        <li class="list-inline-item mr-3"><a href="#"><img
                                src="/static/images/Home Page/logo-linkedln.png"
                                alt=""></a>
                        </li>
                        <li class="list-inline-item"><a href="#"><img
                                src="/static/images/Home Page/logo-twitter.png"
                                alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
    </html>

{% endblock %}

