<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<h1 class="display-1">
    {% for annuncio in lista_annunci %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                        {{ annuncio.titolo_annuncio }}
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li>Categoria annuncio: <b>{{ annuncio.categoria_annuncio }}</b></li>
                        <li>Descrizione annuncio: <b>{{ annuncio.descrizione_annuncio }}</b></li>
                        <li>Data inzio noleggio: <b>{{ annuncio.data_inizio_noleggio_annuncio }}</b></li>
                        <li>Data fine noleggio: <b>{{ annuncio.data_fine_noleggio_annuncio }}</b></li>
                        <li>Immagine annuncio: <b>{{ annuncio.immagine_annuncio }}</b></li>
                        <li>Prezzo per giorno annuncio: <b>{{ annuncio.prezzo_per_giorno_annuncio }}</b></li>
                        <li>Città annuncio: <b>{{ annuncio.citta_annuncio }}</b></li>
                        <li>Provincia annuncio: <b>{{ annuncio.provincia_annuncio }}</b></li>
                        <li>Via annuncio: <b>{{ annuncio.via_annuncio }}</b></li>
                        <li>CAP annuncio: <b>{{ annuncio.cap_annuncio }}</b></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</h1>


<div class="accordion" id="accordionExample">
    {% for annuncio in lista_annunci %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    {{ post.titolo_annuncio }}
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li>Categoria annuncio: <b>{{ annuncio.categoria_annuncio }}</b></li>
                        <li>Descrizione annuncio: <b>{{ annuncio.descrizione_annuncio }}</b></li>
                        <li>Data inzio noleggio: <b>{{ annuncio.data_inizio_noleggio_annuncio }}</b></li>
                        <li>Data fine noleggio: <b>{{ annuncio.data_fine_noleggio_annuncio }}</b></li>
                        <li>Immagine annuncio: <b>{{ annuncio.immagine_annuncio }}</b></li>
                        <li>Prezzo per giorno annuncio: <b>{{ annuncio.prezzo_per_giorno_annuncio }}</b></li>
                        <li>Città annuncio: <b>{{ annuncio.citta_annuncio }}</b></li>
                        <li>Provincia annuncio: <b>{{ annuncio.provincia_annuncio }}</b></li>
                        <li>Via annuncio: <b>{{ annuncio.via_annuncio }}</b></li>
                        <li>CAP annuncio: <b>{{ annuncio.cap_annuncio }}</b></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


<div class="accordion" id="accordionExample">
    {% for annuncio in lista_annunci %}
        <h1 class="display-1">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {{ post.titolo_annuncio }}
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li>Categoria annuncio: <b>{{ annuncio.categoria_annuncio }}</b></li>
                            <li>Descrizione annuncio: <b>{{ annuncio.descrizione_annuncio }}</b></li>
                            <li>Data inzio noleggio: <b>{{ annuncio.data_inizio_noleggio_annuncio }}</b></li>
                            <li>Data fine noleggio: <b>{{ annuncio.data_fine_noleggio_annuncio }}</b></li>
                            <li>Immagine annuncio: <b>{{ annuncio.immagine_annuncio }}</b></li>
                            <li>Prezzo per giorno annuncio: <b>{{ annuncio.prezzo_per_giorno_annuncio }}</b></li>
                            <li>Città annuncio: <b>{{ annuncio.citta_annuncio }}</b></li>
                            <li>Provincia annuncio: <b>{{ annuncio.provincia_annuncio }}</b></li>
                            <li>Via annuncio: <b>{{ annuncio.via_annuncio }}</b></li>
                            <li>CAP annuncio: <b>{{ annuncio.cap_annuncio }}</b></li>
                        </ul>
                        <!-- Sezione modica informazioni -->
                        <style>
                            button {
                                background-color: #ff5a26;
                                color: #ffffff;
                                border: none;
                                padding: 10px 20px;
                                font-size: 17px;
                                font-family: Raleway;
                                cursor: pointer;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </h1>
    {% endfor %}
</div>


<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the
                <code>.show</code> class.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Some placeholder content for the second accordion panel. This panel is hidden by default.
            </div>
        </div>
    </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by
                    default.
                </div>
            </div>
        </div>
</div>

<clas>

</clas>