body      {background: coral}
h2        {color:#dddddd ;}
.prodotto { width: 250px; height: 200px;
    background: silver;
    float: left;
    padding: 20; margin: 10px;}
table    { border: 1 solid black; border-collapse: collapse;}
th       {background: crimson;}
td       {padding:5px;background: rgba(0,0,0,.5);color: #dddddd}
#totale  {background: crimson;}
img      {float: left; padding:10px; height: 100px;}
.right   {text-align: center;}
.center  {text-align: center;}