<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="\static\css\form_utente.css">
    <script language=javascript src=\static\js\lib.js></script>
    <title>Prova</title>
</head>
<body>

<div id="main-wrapper">
    <h1>Registrazione</h1>

    <form action="#" id="form-registrazione" method="post" novalidate>
        <div id="wrapper-input">
            <input type="text" name="nome" placeholder="Nome" value="" required>
            <input type="email" name="email" placeholder="Email" value="" required>
            <div id="password">
                <input type="password" name="password" placeholder="Password (min.8 caratteri)">
                <span id="l 1"></span>
                <span id="l 2"></span>
                <span id="l 3"></span>
            </div>
            <input type="password" name="re_password" placeholder="Conferma password" value="" required>
            <input type="checkbox" name="terms" required>
            <span class="fs -small">Ho letto e acceto il <a href="#">trattamento dei dati</a>.</span>
        </div>
        <input type="submit" value="Registrati">
    </form>

    <div id="notifica-registrazione"></div>
</div>
<script type="module">
    import formValidation from './lib.js';
    document.addEventListener('DOMContentLoaded', function (){
        formValidation('#form-registrazione', '#notifica-registrazione');
        })

</script>
</body>
</html>