{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/Login.css">
        <title>Registrazione annuncio</title>
    </head>
    <br>
    <br>
    <br>
    <br>
    <br>
    <body>
    <!-- Messaggi flash -->
     <div class="container flash">
         <h2 class="mb-5">
             {# Flashed messages #}
             {% with messages = get_flashed_messages(with_categories=true) %}
                 {% if messages %}
                     {% for category, message in messages %}
                         <div class="alert alert-{{ category }} text-center" role="alert">{{ message }}</div>
                     {% endfor %}
                 {% endif %}
             {% endwith %}
             {# End Flashed messages #}
         </h2>
     </div>
     <style>
         .flash {
             height: 0px;
             margin-top: 65px;
         }
     </style>
    <!-- CSS FORM ANNUNCCIO -->
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-color: #ff7f50;
        }

        .inner-page {
            background: rgba(0, 0, 0, .5);
            margin: 100px auto;
            font-family: Raleway;
            padding: 20px;
            width: 90%;
            min-width: 300px;
            text-align: center;
            border-radius: 10px;
        }

        input {
            text-align: center;
        }

        select {
            text-align: center;
        }

        .login-box form a {
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            color: #F1EEE6;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
            overflow: hidden;
            transition: .5s;
            margin-top: 40px;
            letter-spacing: 4px;
        }

        button {
            background-color: #ff5a26;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            font-size: 17px;
            font-family: Raleway;
            cursor: pointer;
        }

        h6 {
            color: #dddddd;
        }

        h3 {
            color: #dddddd;
        }

        button:hover {
            opacity: 0.8;
        }

    </style>
    </body>
    <!--HTML FORM-->
    <section class="inner-page">


        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h3>Registrazione annuncio</h3>
                    <h6>INFORMAZIONI:</h6>
                    <br>
                </div>

                <div class="row">
                    <div class="mb-5">
                        <form action="" method="post" role="form" enctype="multipart/form-data" class="email-form">
                            <div class="row">
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <label for="titolo"></label>
                                    <div class="table-bordered text-center text-white">
                                        {{ form.hidden_tag() }} {{ form.titolo_annuncio.label }}
                                    </div>
                                    <div class="form-control">
                                        {{ form.titolo_annuncio }}
                                    </div>
                                </div>

                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <label for="categoria"></label>
                                    <div class="table-bordered text-center text-white">
                                        {{ form.categoria_annuncio.label }}
                                    </div>
                                    <div class="form-control">
                                        {{ form.categoria_annuncio }}
                                    </div>
                                </div>

                                <div class="col-md-12 form-group descrizione">
                                    <label for="descrzione"></label>
                                    <div class="table-bordered text-center text-white">
                                        {{ form.descrizione_annuncio.label }}
                                    </div>
                                    <div class="form-control">
                                        {{ form.descrizione_annuncio }}
                                    </div>
                                </div>

                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <label for="data_inizio_noleggio"></label>
                                    <div class="table-bordered text-center text-white">
                                        {{ form.data_inizio_noleggio_annuncio.label }}
                                    </div>
                                    <div class="form-control">
                                        {{ form.data_inizio_noleggio_annuncio }}
                                    </div>
                                </div>

                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <label for="data_fine_noleggio"></label>
                                    <div class="table-bordered text-center text-white">
                                        {{ form.data_fine_noleggio_annuncio.label }}
                                    </div>
                                    <div class="form-control">
                                        {{ form.data_fine_noleggio_annuncio }}
                                    </div>
                                </div>

                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <label for="immagine"></label>
                                    <div class="table-bordered text-center text-white">
                                        {{ form.immagine_annuncio.label }}
                                    </div>
                                    <div class="form-control">
                                        {{ form.immagine_annuncio }}
                                    </div>
                                </div>

                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <label for="prezzo"></label>
                                    <div class="table-bordered text-center text-white">
                                        {{ form.prezzo_per_giorno_annuncio.label }}
                                    </div>
                                    <div class="form-control">
                                        {{ form.prezzo_per_giorno_annuncio }}
                                    </div>
                                </div>

                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <label for="città"></label>
                                    <div class="table-bordered text-center text-white">
                                        {{ form.citta_annuncio.label }}
                                    </div>
                                    <div class="form-control">
                                        {{ form.citta_annuncio }}
                                    </div>
                                </div>

                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <label for="provincia"></label>
                                    <div class="table-bordered text-center text-white">
                                        {{ form.provincia_annuncio.label }}
                                    </div>
                                    <div class="form-control">
                                        {{ form.provincia_annuncio }}
                                    </div>
                                </div>

                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <label for="via"></label>
                                    <div class="table-bordered text-center text-white">
                                        {{ form.via_annuncio.label }}
                                    </div>
                                    <div class="form-control">
                                        {{ form.via_annuncio }}
                                    </div>
                                </div>

                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <label for="cap"></label>
                                    <div class="table-bordered text-center text-white">
                                        {{ form.cap_annuncio.label }}
                                    </div>
                                    <div class="form-control">
                                        {{ form.cap_annuncio }}
                                    </div>
                                </div>
                            </div>

                            <div class="text-center mt-3">
                                {{ form.submit_annuncio (class="btn btn-success") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section><!-- End Contact Section -->
    </section>

    <!--Sezione Newsletter -->
    <section id="contattaci" class="newsletter text-white text-center">
        <div class="container">
            <style>
                .newsletter {
                    background-image: url("../static/images/newsletter.jpeg");
                }
            </style>
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Iscriviti alla nostra newsletter!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Inserisci email">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-primary btn.lg btn-block">Iscriviti</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><a href="#">Contact</a></li>
                        <li class="list-inline-item"><a href="#">Term of Use</a></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Copyright <strong><span>Università di Napoli Parthenope</span></strong>
                    </p>
                    <p class="text-muted small mb-4 mb-lg-0">Realizzato da:<strong><span>Pasquale Sorrentino, Sara Terlizzi, Eduardo Autore</span></strong>
                    </p>
                </div>

                <div class="col-lg-6 h-100 text-center text-lg-right">
                    <p class="testo">Seguici su:</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3"><a href="#"><img
                                src="../static/images/Home Page/logo-insta.jpg"
                                alt=""></a>
                        </li>
                        <li class="list-inline-item mr-3"><a href="#"><img
                                src="../static/images/Home Page/logo-linkedln.png"
                                alt=""></a>
                        </li>
                        <li class="list-inline-item"><a href="#"><img src="../static/images/Home Page/logo-twitter.png"
                                                                      alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
    </html>
{% endblock %}