<p>Ciao {{ user.username }},</p>
<p>Benvenuto nell' <b>Uniparthenope Group</b>!</p>
<p>Per confermare la tua registrazione, clicca sul seguente <a href="{{ url_for('utenti.confirm', token=token, _external=True) }}">link</a>.</p>
<p>In alternativa puoi copiare sul browser il seguente indirizzo:</p>
<p>{{ url_for('utenti.confirm', token=token, _external=True) }}</p>
<p>Cordialmente,</p>
<p>Uniparthenope Group</p>
<img src="{{ url_for('static', filename='Logo_Parthenope.png', _external=True) }}" alt="Uniparthenope group" class="rounded mx-auto d-block">
<p><small>Non rispondere a questa mail, nessuno risponderà</small></p>

